name: Node.js CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Install dependencies
      run: npm install

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Deploy
      run: |
        sudo apt-get install -y sshpass
        sshpass -p 'Metahostinger@123' ssh -o StrictHostKeyChecking=no root@156.67.208.24 <<EOF
        cd /root/Projects/A-Z-Realestate-Back-End
        git pull
        npm install
        npm run build
        pm2 reload all
        EOF
